extends layout

block content
  div.container
    h3.text-center= '联想阳光15周年庆'
    form
      div.form-group
        select.form-control#area(name="area")
          option(value='所有大区')= '所有大区'
          for area in areas
                option(value=area.areaName)= area.areaName
      div.form-group
        input.form-control(type='text' placeholder='站点名称' name='state_search' id='state_search')
    ul.list-unstyled.statelist#statelist
      for state in states
        li
          div.title.clearfix
            div.pull-left
              span= state.areaName
              span= '－'
              span= state.stateName
            div.pull-right= '票数：'
              span.vote= state.stateVotes
          div.posr
            img.img-responsive(src=state.stateImg)
            div.posa.btn.btn-success.btn-lg.votepos
              a.glyphicon.glyphicon-thumbs-up.votebtn(href='javascript:;' rel=state.stateName)= '投票'
          p.text-muted= state.stateDescription
  script(type='text/javascript').
    $('.votebtn').on('click', vote);
    function vote(e) {
      e.preventDefault();
      var target = e.target,
          stateName = target.rel;
      if(stateName) {
        $.getJSON('/vote/' + stateName, {openid: location.search.slice(1).split('=')[1]} ,function(data) {
          if (data.state === 'success') {
            var votedom = $(target.closest('li')).find('.vote'),
              vote = parseInt(votedom.html(), 10) + 1;
            votedom.html(vote);
            alert('您已经为“'+stateName+'”投票成功！');
          } else {
            return alert(data.state);
          }
        });
      }
    }
    function filterState(areaName, stateName) {
      $.getJSON('/search', {areaname: areaName, statename: stateName} ,function(data) {
        if (data.states !== 'failure') {
          var str = '';
          $.each(data, function(i, item) {
            str+='<li><div class="title clearfix"><div class="pull-left"><span>' + item.areaName + '</span><span>－</span><span>' + item.stateName + '</span></div><div class="pull-right">票数：<span class="vote">' + item.stateVotes + '</span></div></div><div class="posr"><img class="img-responsive" src="' + item.stateImg + '"><div class="posa btn btn-success btn-lg votepos"><a class="glyphicon glyphicon-thumbs-up votebtn" href="javascript:;" rel="'+item.stateName+'">投票</a></div></div><p class="text-muted">' + item.stateDescription + '</p></li>';
          });
          $('.votebtn').off('click', vote);
          $('#statelist').html(str);
          $('.votebtn').on('click', vote);
        }
      });
    }
    $('#area').on('change', function(e) {
      $('#state_search').val('');
      filterState($(this).val(), '');
    });

    $('#state_search').on('input', function(e) {
      var area = $('#area').val();
      var state = $.trim($('#state_search').val());
      filterState(area, state);
    });