extends layout

block content
  div.container
    h3.text-center= '联想阳光15周年庆站点投票情况'
    hr
    table.table.table-striped
      thead
        tr
          th
            a.order(href='/order/id/desc')= '序号'
          th
            a.order(href='/order/areaName/desc')= '所属大区'
          th
            a.order(href='/order/stateName/desc')= '站点名称'
          th
            a.order(href='/order/stateDescription/desc')= '站点描述'
          th
            a.order(href='/order/stateVotes/desc')= '票数'
          th.text-center
            a.order(href='/order/stateImg/desc')= '站点图片'
      tbody#tbody
        for state in states
          tr
            td= state.id
            td= state.areaName
            td= state.stateName
            case state.stateDescription
              when null
                td
                  a.btn.btn-primary(href='/addstate?id=' + state.id + '&statename=' + state.stateName + '&areaname=' + state.areaName)= '添加描述'
              default
                td
                  a.inline-block.ellipsis(href='/addstate?id=' + state.id + '&statename=' + state.stateName + '&areaname=' + state.areaName alt=state.stateDescription title=state.stateDescription)= state.stateDescription
            td= state.stateVotes
            td.text-center
              case state.stateImg
                when null
                  a.btn.btn-primary(href='/addstate?id=' + state.id + '&statename=' + state.stateName + '&areaname=' + state.areaName)= '增加图片'
                default 
                  a(href='/addstate?id=' + state.id + '&statename=' + state.stateName + '&areaname=' + state.areaName)
                    img(src=state.stateImg width='30' height='30')
  script(type='text/javascript').
    $('.order').on('click', order);
    function order(e) {
      e.preventDefault();
      var $this = $(this);
      var href = $this.attr('href');
      $.getJSON(href, function(data) {
        var str = '';
        $.each(data, function(i, item) {
          var stateImgHTML = '',
          stateDescriptionHTML = '';
          if (item.stateImg) {
            stateImgHTML = '<a href="/addstate?id='+item.id+'&statename='+item.stateName+'&areaname='+item.areaName+'"><img src="'+item.stateImg+'" width="30" height="30"></a>';
          } else {
            stateImgHTML = '<a class="btn btn-primary" href="/addstate?id='+item.id+'&statename='+item.stateName+'&areaname='+item.areaName+'">增加图片</a>';
          }
          if (item.stateDescription) {
            stateDescriptionHTML = '<a class="inline-block ellipsis" href="/addstate?id='+item.id+'&statename='+item.stateName+'&areaname='+item.areaName+'" alt="'+item.stateDescription+'" title="'+item.stateDescription+'">'+item.stateDescription+'</a>';
          } else {
            stateDescriptionHTML = '<a class="btn btn-primary" href="/addstate?id='+item.id+'&statename='+item.stateName+'&areaname='+item.areaName+'">添加描述</a>';
          }
          str += '<tr>'+
                     '<td>'+item.id+'</td>'+
                     '<td>'+item.areaName+'</td>'+
                     '<td>'+item.stateName+'</td>'+
                     '<td>' + stateDescriptionHTML + '</td>' + 
                     '<td>'+item.stateVotes+'</td>'+
                     '<td class="text-center">'+ stateImgHTML +
                     '</td></tr>';
        });
        $('#tbody').html(str);
        if (href.indexOf('desc') !== -1) {
          $this.attr('href', href.replace('desc', 'asc'));
        } else {
          $this.attr('href', href.replace('asc', 'desc'));
        }
      });
    }